.h{
    background-color: black;
}
.start{
    display: inline-flex;
    width: 100%;
    margin: left 300px;
    margin-top: -400px;
    
}
.web a:hover {
background-color: blue;
    
}
ul
{color: rgb(105, 102, 96);
    text-decoration-line: none;

}


ul li {
    float: left;
    list-style: none;
    margin-right: 150px;
    margin-top: 20px;
   

}
a{
    color: black;
    text-decoration: none;
    padding-left: 0px;
  
}
.image
{
    bottom: blue ;
}
    

.dire{

color: blue;

margin-left: 80px;
margin-top: -47px;

}
.menu
{background-position:none; 
    background-color: rgb(210, 202, 202);
    margin-top: 20px;
    margin-left: 50px;
    width: 115%;
    height: 96vh;


}
.e{
    background-color:skyblue;
    color: white;
    margin-left: 50px;
    padding: 10px;
    border: none;
}

.i{

margin-left: 1350px;
margin-top: -600px;

}



.image{
    background-image: none;
    width: 50%;
    height: 70vh;
    
}
.h1
{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 5px;
    padding-top: 100px;
    
}
.t{
    
    width: 50%;
    height: 100%;
}
 .h3{
    

    font-size: 5px;
    margin-left: 150px; 
    margin-top: -10px;
    width: 20%;
    padding-top: 30px;  
    text-align: center; 
 }
 .h4{

    font-size: 8px;
    margin-left: 150px; 
    margin-top: -60px;
    width: 20%;
    padding-top: 30px; 
    text-align: center;
    color: blue
 }

 .n
 {
    font-size: 40px;
    margin-left: 1500px;
    height: 50%;  

 }
 .image1{ 
   
    
    background-image: none;
    width: 40%;
    height: 40%;
    margin-top: -160px;
    margin-left: 1000px ;

 }
 .p1{
    color:black;
 }
 .box
 {
    background-color: rgb(210, 28, 28);
    margin-top: -20px;
    margin-left: 10px;
    width: 115%;
    height: 96vh;
 }
.log{
    
    font-size: 20px;
    width: 40%;
    height: 50%;
}
.w{
    font-size: 20px;
    margin-left:850px;
    margin-top: -300px;
    width: 80%;
    height: 10%;
}


    

}
.

}

 
    
    






    









    